.hero {
  margin-top: 89px;
  display: flex;
  flex-wrap: nowrap;
  height: 85vh;
  background: url('../assets/icons/hero-bg.png') left top no-repeat,
  url('../assets/icons/hero-bg2.png')  right bottom no-repeat;
  background-size: 25% 50%;
  @include respond(tab-land){
    background-size: 40% 50%;
  }
  &-container {
    background-color: $color-hero-bg;
  }
  &-contents{
    width: 50%;
  }
  &-main {
    width: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 60px;
    @include respond(tab-land){
      margin-left: 20px;
      width: 100%;
    }
    @include respond(smart-phone){
      margin-left: 10px;
    }
  }
  &__text {
    font-size: 36px;
    font-weight: bold;
    line-height: 150%;
    color: $color-text;
    @include  respond(tab-land){
      font-size: 24px;
    }
    &--head {
      font-size: 16px;
      color: $color-text;
      img{
        height: 50px;
        &:not(:last-child){
          margin-right: 24px;
          @include respond(tab-port){
            margin-right: 10px;
          }
        }
      }
    }
  }
  &-image {
    width: 50%;
    overflow-x: hidden;
    text-align: center;
    @include respond(tab-land){
      display: none;
    }
    img {
      margin-top: 10%;
      height: 80%;
    }
  }
}
.section-team {
  .team {
    &__head {
      font-size: 36px;
      font-weight: bold;
      color: $color-secondary;
      text-align: center;
      margin-bottom: 40px;
      @include  respond(tab-land){
        font-size: 24px;
      }
    }
    &__body {
      text-align: center;
      &--head {
        margin-bottom: 14px;
      }
    }
    &__members {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
    &__member {
      border: 1px solid $color-grey-bg;
      margin: 2rem;
      border-radius: 15px;
      &--image {
        width: 220px;
        height: 300px;
        img {
          border-top-left-radius: 15px;
          border-top-right-radius: 15px;
          width: 100%;
          max-height: 100%;
          overflow-y: hidden;
        }
      }
      &--info {
        font-size: 16px;
        text-align: center;
        margin: 15px;
        background-color: $color-white;
        .name {
          font-weight: bold;
          font-size: 18px
        }
        .position {
          color: $color-primary;
          font-style: italic;
        }
      }
    }
  }
}
.signup {
  text-align: center;
  padding: 80px 1rem;
  @include respond(tab-port){
    padding: 40px 1rem;
  }
  &__head {
    font-size: 36px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    line-height: 150%;
    margin: 2rem 0;
    color: $color-secondary;
    @include  respond(tab-land){
      font-size: 24px;
    }
  }
  &__form {
    margin: 0 auto;
    width: 80%;
    max-width: 600px;
    input {
      width: 100%;
    }
    .btn {
      margin-top: 2rem;
      font-size: 16px;
      width: 100%;
    }
  }
}
.section-value{
  padding: 60px 0;
  background: $color-value-bg;
  .value {
    &-head {
      font-size: 36px;
      font-weight: bold;
      color: $color-white;
      text-align: center;
      margin-bottom: 40px;
      @include  respond(tab-land){
        font-size: 24px;
      }
    }
    &__item{
      background: $color-hero-bg;
      display: flex;
      flex-wrap: nowrap;
      margin: 20px auto;
      padding: 24px;
      font-size: 16px;
      max-width: 600px;
      border: 1px solid $color-grey-bg;
      width: 80%;
      font-weight: 500;
      font-size: 22px;
      border-radius: 25px;
      max-width: 600px;
      @include respond(smart-phone){
        width: 90%;
        font-size: 16px;
      }
      &--count {
        background: $color-secondary;
        color: $color-white;
        min-width: 40px;
        min-height: 40px;
        max-height: 40px;
        border-radius: 50%;
        line-height: 20px;
        margin-right: 2rem;
        position: relative;
        &-item {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }

  }
}
.section-value2{
  margin: 40px 0 60px;
  border-bottom: 1px solid $color-value-bg;
  .value2{
    margin: 40px auto;
    max-width: 750px;
    width: 90%;
    &-head {
      font-size: 36px;
      font-weight: bold;
      color: $color-secondary;
      text-align: center;
      padding: 20px 0;
      @include  respond(tab-land){
        font-size: 24px;
      }
    }
    &-body {
      text-align: left;
      font-size: 24px;
      color: $color-text;
      padding: 20px 0;
    }
  }
}
.u-color-secondary {
  color: $color-secondary;
}
.u-color-primary {
  color: $color-primary;
}
.u-color-white {
  color: $color-white;
}