.hero {
  margin-top: 89px;
  display: flex;
  flex-wrap: nowrap;
  height: 85vh;

  &-contents{
    width: 50%;
  }
  &-main {
    width: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 60px;
    @include respond(tab-land){
      margin-left: 20px;
      width: 100%;
    }
    @include respond(smart-phone){
      margin-left: 10px;
    }
  }
  &__text {
    font-size: 36px;
    font-weight: bold;
    line-height: 150%;
    color: $color-text;
    @include  respond(tab-land){
      font-size: 24px;
    }
    &--head {
      font-size: 16px;
      color: $color-text;
      img{
        height: 50px;
        &:not(:last-child){
          margin-right: 24px;
          @include respond(tab-port){
            margin-right: 10px;
          }
        }
      }
    }
  }
  &-image {
    width: 50%;
    overflow-x: hidden;

    @include respond(tab-land){
      display: none;
    }
    img {
      width: 100%;
    }
  }
}
.section-team {
  .team {
    &__head {
      font-size: 36px;
      font-weight: bold;
      color: $color-secondary;
      text-align: center;
      margin-bottom: 40px;
      @include  respond(tab-land){
        font-size: 24px;
      }
    }
    &__body {
      text-align: center;
      &--head {
        margin-bottom: 14px;
      }
    }
    &__members {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
    &__member {
      border: 1px solid $color-grey-bg;
      margin: 2rem;
      border-radius: 15px;
      &--image {
        width: 220px;
        min-width: 220px;
        max-width: 220px;
        img {
          border-top-left-radius: 15px;
          border-top-right-radius: 15px;
          width: 100%;
        }
      }
      &--info {
        font-size: 16px;
        text-align: center;
        margin: 15px;
        .name {
          font-weight: bold;
          font-size: 18px
        }
        .position {
          color: $color-primary;
          font-style: italic;
        }
      }
    }
  }
}
.signup {
  text-align: center;
  padding: 80px 1rem;
  @include respond(tab-port){
    padding: 40px 1rem;
  }
  &__head {
    font-size: 36px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    line-height: 150%;
    margin: 2rem 0;
    color: $color-secondary;
    @include  respond(tab-land){
      font-size: 24px;
    }
  }
  &__form {
    margin: 0 auto;
    width: 80%;
    max-width: 600px;
    input {
      width: 100%;
    }
    .btn {
      margin-top: 2rem;
      font-size: 16px;
      width: 100%;
    }
  }
}
.section-value{
  padding: 60px 0;
  .value {
    &-head {
      font-size: 36px;
      font-weight: bold;
      color: $color-secondary;
      text-align: center;
      margin-bottom: 40px;
      @include  respond(tab-land){
        font-size: 24px;
      }
    }
    &__item{
      display: block;
      margin: 20px 0;
      padding: 24px;
      font-size: 16px;
      max-width: 600px;
      border: 1px solid $color-grey-bg;
      width: 80%;
      font-weight: 500;
      font-size: 22px;
      &--left {
        margin-left: auto;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
      }
      &--right {
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
      }
    }

  }
}
.u-color-secondary {
  color: $color-secondary
}