.footer {
  padding: 40px 0;
  text-align: center;
  box-shadow: 0px -3px 4px rgba(0, 0, 0, 0.12);
  background-color: $color-white;
  scroll-behavior: smooth;
  &__head {
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    line-height: 150%;
    font-weight: bold;
    color: $color-secondary;
  }
  &__social {
    margin: 40px 0 20px;
    &--item {
      display: inline-block;
      margin: 0 1.5rem;
      @include respond(smart-phone){
        margin: 0 1rem;
      }
    }
  }
  &__bottom {

    font-size: 12px;
    line-height: 125%;
  }
}
