$color-black-bg: #24292e;

$color-text: #333333;

$color-grey-bg: rgba(209,213,218,0.5);
$color-shadow-small: rgba(27, 31, 35, 0.4);

$color-primary: #1188D1;
$color-secondary: #0B73B4;
$color-primary-deep: #053A5B;


$color-white: #ffffff;
$color-background: #E5E5E5;

$color-background: #D8CDD5;

$color-hero-bg: #90BFDD;
$color-value-bg: #1588D1;
